body {
  display: flex;
  background-color: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100vw;
}
.Head {
  padding-left: 80px;
  padding-top: 15px;
  margin-bottom: -15px;
}
form {
  padding: 10px;
  margin: 50px 0px;
  background: #fff;
  height: 470px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 16px;
}
.input-wrapper {
  padding-left: 22px;
}
.input-wrapper > input {
  width: 330px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 0.7;
  padding-left: 18px;
}
.input-wrapper > input:focus {
  outline: none;
}
h2 {
  text-align: center;
  padding: 15px;
  margin-bottom: -28px;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.btn {
  margin-top: 15px;
  width: 350px;
  height: 50px;
  margin-left: 3px;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #1877f2;
  border: none;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #457ceb;
}
h3 {
  text-align: center;
  font-family: sans-serif;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 15px;
}
h3 a {
  text-decoration: none;
  color: #1877f2;
  font-family: inherit;
  cursor: pointer;
}
h3 a:hover {
  text-decoration: underline;
}
.btnn {
  margin-top: 15px;
  width: 60%;
  height: 45px;
  margin-left: 75px;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  font-family: inherit;
  background-color: #42b72a;
  border: #42b72a;
  padding: 0 16px;
}
.btnn a {
  text-decoration: none;
  color: #fff;
}
  
.btnn:hover {
  background-color: #34a11e;
}
.hr {
  display: flex;
  border: 1px thin transparent;
  padding: 5px;
}
.hr > .a {
  width: 250px;
  margin-left: 0px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.hr > .b {
  width: 250px;
  margin-right: 0px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.or {
  padding: 2px;
  margin-bottom: -12px;
}


@media only screen and (max-width: 480px) {
  body {
    align-items: start;
    justify-content: center;
    background-color: #fff;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  form {
    padding: 10px;
    background: #fff;
    height: 470%;
    width: 380px;
    line-height: 16px;
    box-shadow:none;
    margin-left: -20px;
  }

}